

// Import Bulma's core
@import "~bulma/sass/utilities/_all";


$primary: #F9C80E;
$primary-invert: findColorInvert($primary);


// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
	"white": ($white, $black),
	"black": ($black, $white),
	"light": ($light, $light-invert),
	"dark": ($dark, $dark-invert),
	"primary": ($primary, $primary-invert),
	"info": ($info, $info-invert),
	"success": ($success, $success-invert),
	"warning": ($warning, $warning-invert),
	"danger": ($danger, $danger-invert),
);

//helpers

.npb-05 {
	padding-bottom: -0.5em;
}

.ml-05 {
	margin-left: 0.5em;
}

.ml-1 {
	margin-left: 1em;
}

.mr-05 {
	margin-right: 0.5em;
}

.mt-05 {
	margin-top: 0.5em;
}

.mt-1 {
	margin-top: 1em;
}

.mt-2 {
	margin-top: 2em;
}

.mt-3 {
	margin-top: 3em;
}

.mt-5 {
	margin-top: 5em;
}

.my-1 {
	margin-top: 1em;
	margin-bottom: 1em;
}

.p-05{
	padding: 0.5em;
}

.p-1 {
	padding: 1em;
}


.p-2 {
	padding: 2em;
}

.pl-2 {
	padding-left: 2em;
}

.px-1{
	padding-right: 1em;
	padding-left: 1em;
}

.py-1 {
	padding-top: 1em;
	padding-bottom: 1em;
}


.py-2 {
	padding-top: 2em;
	padding-bottom: 2em;
}

.py-3 {
	padding-top: 3em;
	padding-bottom: 3em;
}


.py-5 {
	padding-top: 5em;
	padding-bottom: 5em;
}

.pt-05 {
	padding-top: 0.5em;
}


.pt-1 {
	padding-top: 1em;
}


.pt-2 {
	padding-top: 2em;
}

.pb-1 {
	padding-bottom: 1em;
}

.pb-2 {
	padding-bottom: 2em;
}

.ml-3 {
	margin-left: 3em;
}
.p-2 {
	padding: 2em;
}

.pb-5 {
	padding-bottom: 5em;
}



// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy"

